@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu de Navegação</title>
    <link rel="stylesheet" href="~/css/index.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/n5gUtm/icon_1.png" />
    <meta name="theme-color" content="#daa37f">
</head>
<body>
    <div class="banner">
        <div class="banner__overlay">
            <div class="banner__container">
                <h1 class="banner__title">ACESS TOUR</h1>
                <p class="banner__text">Descubra o Mundo com Conforto e Inclusão.</p>
                <a href="@Url.Page("Create")" class="play-button">Fazer Cadastro</a>
            </div>
        </div>
    </div>
</body>
</html>
