@page
@model Steammostra.Pages.CreateModel
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/sobre.css" />
    <title>Sobre Nós</title>
</head>
<body>
    <div class="navbar">
        <img src="~/imagens/LOGOOFC.png" alt="Logo">
        <div class="nav-links">
            <a href="/home">Inicio</a>
            <a href="/sobre">Sobre</a>
            <a href="/Serviços">Serviços</a>
            <a href="/contato">Contato</a>
        </div>
    </div>
    <section id="about-banner">
        <div class="banner-content">
            <h1>Sobre Nós</h1>
        </div>
    </section>

    <section id="about-text">
        <div class="container">
            <p>Na AcessTour, a nossa missão é oferecer serviços excepcionais com um toque pessoal. Desde nossa fundação em 2022, dedicamo-nos a atender às necessidades de nossos clientes com integridade e paixão. Nossa equipe é composta por profissionais experientes que adoram o que fazem e se esforçam para garantir que cada interação seja positiva e satisfatória. Acreditamos que o sucesso vem do compromisso com a qualidade e com a satisfação do cliente. Estamos aqui para tornar a sua experiência a melhor possível, sempre com um sorriso no rosto e um atendimento acolhedor.</p>
    </section>
    <section id="about-subtitle">
        <div class="container">
            <h2>Nosso Compromisso</h2>
            <p>Estamos aqui para ouvir você, resolver suas dúvidas e oferecer soluções que façam a diferença. A sua satisfação é a nossa maior recompensa e a razão de nosso trabalho. Contamos com você para nos ajudar a crescer e melhorar continuamente, e estamos sempre disponíveis para atender às suas necessidades com o carinho e respeito que você merece.</p>
            <p>Acreditamos que a experiência do cliente vai além do simples fornecimento de um serviço. É sobre criar memórias duradouras e proporcionar momentos que valham a pena. Portanto, buscamos não apenas atender, mas superar suas expectativas em cada oportunidade.</p>
        </div>
    </section>
    <footer>
        <p>&copy; 2024 AcessTour. Todos os direitos reservados.</p>
    </footer>
</body>
</html>